.navbar {
    background-color: #111;
    border-radius: 0;
    border: none;
    position: relative;
    margin-bottom: 50px;
    z-index: 100;
    width: 100%;
}


/* Start Main Section */

.profile .container .info {
    margin-bottom: 35px;
}

.profile .container .info .Tourguide-name {
    display: inline;
    font-size: 44px;
}

.profile .container .info button {
    height: 42px;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
    outline: none;
    background-color: #111;
    border: none;
    float: right;
    margin-left: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.profile .container .info button:hover {
    background-color: transparent;
    border: 1px solid;
    color: #000;
}

.profile .container img {
    width: 100%;
}

.slider-container {
    width: 100%;
    height: 250px;
    position: relative;
}

.slider-container img {
    position: relative;
    display: none;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    z-index: 1;
}

.slider-container2 p {
    position: relative;
    display: none;
    z-index: 1;
}

.slider-container img.active {
    display: block;
    height: 400px;
}

.slider-container2 p.active {
    display: block;
}

.slider-container .slide-number {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 5px 10px;
    font-size: 20px;
    z-index: 2;
}

.slider-controls {
    overflow: hidden;
    margin-top: 200px;
}

.slider-controls .prev,
.slider-controls .next {
    background-color: #009688;
    color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 5px;
    user-select: none;
    width: 20%;
}

.slider-controls .prev {
    float: left;
}

.slider-controls .next {
    float: right;
}

.slider-controls .prev.disapled,
.slider-controls .next.disapled {
    background-color: #00968780;
    cursor: no-drop;
}

.slider-controls .indicator {
    width: 100%;
}

.slider-controls .indicator ul {
    list-style: none;
    margin: 0;
    text-align: center;
}

.slider-controls .indicator ul li {
    display: inline-block;
    background-color: #f6f6f6;
    color: #333;
    font-weight: bold;
    height: 31px;
    min-width: 98px;
    margin: 0 2px;
    line-height: 28px;
    cursor: pointer;
}

.slider-controls .indicator ul li.active {
    background-color: #111;
    color: white;
}

.profile .container .Expertise span {
    font-size: 16px;
    background-color: #111;
    display: inline-block;
    margin-right: 9px;
    padding: 2px 11px 2px 8px;
    color: #fff;
    border-radius: 1px;
    margin-bottom: 5px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

.profile p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    margin-top: 20px;
}


/* End Main Section */


/* Start Favorite Trips Section Styling*/

.favorite-trips {
    margin-bottom: 50px;
}

.favorite-trips img {
    width: 100%;
    height: 500px;
}

.favorite-trips a {
    color: #000;
    font-size: 22px;
    font-weight: bold;
}

.favorite-trips i {
    display: block;
    margin-top: 5px;
}


/* End Favorite Trips Section Styling*/


/* Start Reviews Section Style */

.reviews {
    width: 100%;
    background-color: #fff;
    margin-top: 44px;
    margin-bottom: 44px;
}

.reviews h1 {
    text-transform: uppercase;
    margin-bottom: 47px;
}

.reviews span {
    float: right;
}

.reviews span.bold-black {
    font-weight: bold;
    font-size: 20px;
    float: none;
}

.reviews h2 {
    font-size: 19px;
    display: inline;
}

.reviews p {
    padding: 18px;
    font-size: 18px;
    line-height: 32px;
}


/* End Reviews Section Style */


/* Start Pop Ups Style Section */

.pop-ups,
.pop-ups-2 {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.473);
    top: 0;
    z-index: 100000;
    display: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.pop-ups .edit_trips_popup {
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    overflow-y: scroll;
}

.pop-ups .edit_trips_popup::-webkit-scrollbar {
    width: 0.5em;
}

.pop-ups .edit_trips_popup::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.pop-ups .edit_trips_popup::-webkit-scrollbar-thumb {
    background-color: #111;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.pop-ups .edit_trips_popup h1 {
    text-align: center;
    font-size: 31px;
    font-weight: bold;
}

.pop-ups .edit_trips_popup h2 {
    text-align: right;
    margin-right: 15px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.pop-ups .edit_trips_popup .dropdown {
    width: 100%;
    margin-top: 60px;
    text-align: center;
}

.pop-ups .edit_trips_popup .dropdown button.dropdown-toggle {
    width: 85%;
    text-align: left;
    background-color: #fff;
    box-shadow: 0px 0px 1.3px rgb(0 0 0 / 8%), 0px 0px 10px rgb(0 0 0 / 16%);
    height: 50px;
    font-size: 16px;
    outline: none;
}

.pop-ups .edit_trips_popup .dropdown i {
    margin-left: 80%;
}

.pop-ups .edit_trips_popup .dropdown-menu {
    width: 80%;
    left: 13%;
    box-shadow: none;
    border-top: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.pop-ups .edit_trips_popup .dropdown-menu img {
    width: 78%;
}

.pop-ups .container {
    width: 100%;
}

.pop-ups .container span {
    margin-top: 20%;
    background-color: #111;
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    border: none;
    display: inline-block;
    padding: 10px;
    color: #fff;
}

.pop-ups .container .row .description {
    margin-top: 50px;
}

.pop-ups .container .row .description p {
    font-size: 16px;
    padding: 15px;
}

.pop-ups .edit-trip {
    background-color: #fff;
    height: 50px;
    font-size: 16px;
    outline: none;
    border: none;
}

.pop-ups .edit_trips_popup .dropdown .edit-trip i {
    margin: 0;
}

.pop-ups .container .row h1 {
    text-align: left;
    font-size: 23px;
    padding: 22px;
}

.pop-ups .container .row div.form-check {
    display: inline-block;
}


/* End Pop Ups Style Section */


/* Hovering Section */

.profile-photo-hovering {
    background-color: #0000002f;
    width: 36rem;
    height: 48rem;
    position: absolute;
    top: 0;
    text-align: right;
    display: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

@media(max-width:870px) {
    .profile-photo-hovering {
        background-color: #0000002f;
        width: 462px;
        height: 617px;
        position: absolute;
        top: 0;
        text-align: right;
        display: none;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
}

.profile-photo-hovering:hover {
    display: block;
}

.user-image:hover+.profile-photo-hovering {
    display: block;
}

.profile-photo-hovering i,
.profile-description-hovering i {
    font-size: 28px;
    color: #fff;
    padding: 15px;
    cursor: pointer;
}

.profile-description-hovering {
    background-color: #0000003a;
    width: 92%;
    height: 40%;
    position: absolute;
    top: 43%;
    text-align: right;
    display: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.profile-description:hover+.profile-description-hovering {
    display: block;
}

.profile-description-hovering:hover {
    display: block;
}

.profile-settings {
    border-radius: 50%;
    position: absolute;
    left: 83%;
    top: 50%;
    width: 46px;
    height: 50px;
    transform: translate(50%, -50%);
}

.profile-settings i {
    position: absolute;
    left: 65px;
    top: 36%;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.profile-settings img {
    cursor: pointer;
}

@media(max-width:870px) {
    .profile-settings {
        border-radius: 50%;
        position: absolute;
        left: 43%;
        top: 85%;
        width: 46px;
        height: 50px;
        transform: translate(50%, -50%);
    }
}

.profile-settings-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #111;
    position: absolute;
    right: 105px;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    transition: var(--main-tranistion);
    -webkit-transition: var(--main-tranistion);
    -moz-transition: var(--main-tranistion);
    -ms-transition: var(--main-tranistion);
    -o-transition: var(--main-tranistion);
    z-index: 1;
}

.profile-settings-dropdown ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #111 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.profile-settings-dropdown ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    transition: var(--main-tranistion);
    -webkit-transition: var(--main-tranistion);
    -moz-transition: var(--main-tranistion);
    -ms-transition: var(--main-tranistion);
    -o-transition: var(--main-tranistion);
}

.profile-settings-dropdown ul li a:hover {
    padding-left: 25px;
}

.profile-settings-dropdown ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

@media(max-width:870px) {
    .profile-settings-dropdown ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #111;
        position: absolute;
        right: 280px;
        min-width: 200px;
        top: calc(100% + 15px);
        display: none;
        transition: var(--main-tranistion);
        -webkit-transition: var(--main-tranistion);
        -moz-transition: var(--main-tranistion);
        -ms-transition: var(--main-tranistion);
        -o-transition: var(--main-tranistion);
        z-index: 1;
    }
}


/* End Hovering Section */


/* Start Profile Photo Pop Up */

.pop-ups-2 .edit-profile-photo {
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.pop-ups-2 .edit-profile-photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 41%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
}

#for-edit-photo-input {
    position: absolute;
    top: 71%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    width: 153px;
    height: 74px;
    /* border-radius: 33% 0 50% 50%; */
    border: none;
    outline: none;
    background-color: #111;
    color: #fff;
    font-size: 19px;
}

.pop-ups-2 h2 {
    text-align: right;
}

.close-edit-photo-popup {
    font-size: 34px;
    padding: 22px;
    cursor: pointer;
}


/* End Profile Photo Pop Up */